.categorySelector {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 20px 0;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
  }
  
  .checkboxLabel {
    margin-left: 10px;
    font-size: 1.2em;
  }